<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Edit Employee</title>
</head>
<body>

<form action="update" method="POST">
        	<h1>Update Employee Data</h1>
            <table> 
                <tr>  
                    <td><label for="empId">Employee Id</label></td>  
                    <td><input type="text" name="empId"></input></td>  
                </tr>
                <tr>  
                    <td><label for="empName">Employee Name</label></td>  
                    <td><input type="text" name="empName"></input></td>  
                </tr>  
                <tr>  
                    <td><label for="jobTitle">Job Title</label></td>  
                    <td><input type="text" name="jobTitle"></input></td>  
                </tr>  
                <tr>  
                    <td><label for="salary">Salary</label></td>  
                    <td><input type="text" name="salary"></input></td>  
                </tr>  
                <tr>  
                    <td><label for="deptNo">Department No.</label></td>  
                    <td><input type="text" name="deptNo"></input></td>  
                </tr> 
                                <tr>  
                    <td></td>  
                    <td><input type="submit" value="Update Employee"></input></td>  
                </tr>  
            </table>
</form>

</body>
</html>