<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Customer Registration</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar">
        <div class="logo">Banking App</div>
        <ul class="nav-links">
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/show">List Customers</a></li>
			<li><a href="/admin">Admin Features</a></li>
        </ul>
    </nav>

    <div class="container">

            <h1>Welcome to FinTech Banking</h1>
      
			<h2>Please register or sign in</h2>
    </div>

</body>
</html>
